.login-screen{
    background-image:  url('../img/login.png');
    background-repeat: no-repeat;
    background-size: cover; 
}

.login-container{
    padding-top: 10%;
}

.panel-login{
    background-color: rgba(255,255,255,0.8);
    border: none;
}

.panel-login > .panel-heading {
    background-color: rgba(255,255,255,0.6);
}

.panel-login > .panel-heading > .panel-title {
    font-size: 20px;
}